//Typography Variables
$heading-type: 'Nunito', sans-serif;
$body-type: 'Montserrat', sans-serif;

//Color Variables
$brand-color-primary: #028740;
$brand-color-accent: #d81118;
$bg-color-secondary: #F5F4F2;

//Mixins
@mixin heading-type-set {
  font-family: $heading-type;
  line-height: 1.1;
  margin-bottom: 2rem;
}

@mixin body-type-set {
  font-family: $body-type;
  line-height: 1.6;
  margin-bottom: 1rem;
}

//Main Styles

body {
  color: black;
  font-family: $body-type;
}

a {
  text-underline-offset: 2px;
}

.heading {
  @include heading-type-set;
}

.body-copy {
  @include body-type-set;
}

.sub-feature-display {
  font-size: 7.5rem;
}

.hero-tagline {
  font-size: 2.9925rem;
}

.feature-heading {
  font-size: 2rem;
}

.feature-subheading {
  font-size: 1.5rem;
}

.feature-copy {
  font-size: 1.375rem;
}

.footer-heading {
  font-size: 1.25rem;
}

.sub-feature-copy {
  font-size: .9375rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.primary-nav .nav-link {
  font-size: 1rem;
  color: black;
}

.feature-link,
.secondary-cta {
  color: $brand-color-primary;
}

.feature-link:hover {
  color: lighten($brand-color-primary, 15%);
}

.brand-bg-section, .alt-feature-link {
  color: white;
}

.alt-feature-link {
  text-decoration: underline;
  &:hover {
    color: darken(white, 15%);
  }
}

.jumbotron .hero-tagline {
  border: solid white 5px;
}

.secondary-cta {
  border: solid $brand-color-primary 3px;
  &:hover {
    background-color: $brand-color-primary;
    color: white;
  }
}

.primary-nav .primary-cta, 
.primary-cta {
  background-color: $brand-color-accent;
  border: solid $brand-color-accent 3px;
  color: white;
  &:hover {
    background-color: darken($brand-color-accent, 10%);
    color: white;
  }
}

.brand-cta {
  background-color: $brand-color-primary;
  color: white;
  &:hover {
    background-color: darken($brand-color-primary, 10%);
    color: white;
  }
}

.cta:hover {
  text-decoration: none;
}

.site-alert {
  background-color: $brand-color-primary;
}

.home-hero {
  background-color: black;
  height: 320px;
  padding-top: 69px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.alt-bg-section {
  background-color: $bg-color-secondary;
}

.brand-bg-section {
  background-color: $brand-color-primary;
}

.engagement-footer-section .row .border-separator:not(:first-child) {
  border-top: solid white 1px;
}

@media only screen and (min-width: 992px) {
  .navbar .secondary-cta {
    border: none;
    &:hover {
      text-decoration: underline;
      background: none;
      color: lighten($brand-color-primary, 15%);
    }
  }
  .engagement-footer-section .row .border-separator:not(:first-child) {
    border-top: none;
  }
  .engagement-footer-section .row .border-separator:not(:last-child) {
    border-right: solid white 1px;
  }
}

@media only screen and (min-width: 768px) {
  .home-hero {
    background-image: url(../../images/lunchpod-home-hero-1440x887.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    height: 525px;
    // padding-top: 171.5px;
  }
  .hero-dark-overlay {
    background-color: rgba(0, 0, 0, .3);
    height: inherit;
    padding-top: 171.5px;
  }
  .jumbotron .hero-tagline {
    border: solid white 3px;
  }
}